[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-braces = "*"
django-embed-video = "*"
pymemcache = "==3.5.2"
django-debug-toolbar = "*"
redis = "==4.3.4"
django-redisboard = "==8.3.0"
attrs = "*"
djangorestframework = "*"
requests = "*"
channels = "==3.0.4"
channels-redis = "==3.4.1"
psycopg2-binary = "*"
daphne = "==3.0.2"
uwsgi = "*"
gunicorn = "*"
django-environ = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.10"
